<div class="container">
  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>Email</th>
        <th>Roles</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users; let userIndex = index">
        <td>{{user.UserName}}</td>
        <td>{{user.Email}}</td>
        <td>
          <mz-badge *ngFor="let role of roles" [caption]="role" [badgeClass]="hasRole(user, role) ? 'blue' : 'grey'"
            class="left" (click)="toggleRole(user, role)"></mz-badge>
        </td>
        <td><a routerLink="/userlist" routerLinkActive="active" (click)=deleteUser(user.Id) mz-secondary-content> <i
              class="material-icons prefix">delete</i></a></td>
      </tr>
    </tbody>
  </table>
</div>