<mz-navbar>

  <mz-navbar-item-container [align]="'left'" *ngIf="userInfoService.isInRole(['Admin','User', 'Moderator'])">
    <mz-navbar-item *ngIf="userInfoService.isInRole(['Admin','User','Moderator'])"><a routerLink="/tests"
        routerLinkActive="active">Tests</a></mz-navbar-item>
    <mz-navbar-item *ngIf="userInfoService.isInRole(['Admin'])"><a routerLink="/userlist" routerLinkActive="active">Users</a></mz-navbar-item>
    <mz-navbar-item *ngIf="userInfoService.isInRole(['Admin', 'User','Moderator'])"><a routerLink="/statistic"
        routerLinkActive="active">Statistic</a></mz-navbar-item>

  </mz-navbar-item-container>

  <a href="#" class="brand-logo center">Knowledge Control System</a>

  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item *ngIf="userInfoService.isInRole(['Admin', 'User', 'Moderator'])"><a (click)="logout()">Logout</a></mz-navbar-item>
  </mz-navbar-item-container>

</mz-navbar>

<div class="container main-container">
  <router-outlet></router-outlet>
</div>