<div class="row">
  <div class="col s12">
    <button mz-button type="button" routerLink="/tests/new" routerLinkActive="active" class="right" *ngIf="userInfoService.isInRole(['Admin', 'Moderator'])">Create Test</button>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <mz-collection>
      <mz-collection-header>All tests</mz-collection-header>
      <mz-collection-item *ngFor="let test of tests">
        <div class="row valign-wrapper">
          <div class="col s9">
            <span class="left-align">{{test.Name}}</span>
          </div>
          <div class="col s9">
            <button mz-button type="button" (click)="deleteTest(test.Id)" *ngIf="userInfoService.isInRole(['Admin', 'Moderator'])" class="right tests-list-button">
              Remove
            </button>
            <button mz-button type="button" routerLink="{{'/tests/' + test.Id}}" class="right tests-list-button" *ngIf="userInfoService.isInRole(['Admin', 'Moderator'])">
              Edit
            </button>
            <button mz-button type="button" routerLink="{{'/tests/' + test.Id + '/pass'}}" class="right tests-list-button">
              Start
            </button>
          </div>
        </div>
      </mz-collection-item>
    </mz-collection>
  </div>
</div>